@font-face {
    font-family: "roboto";
    src: url("../fonts/Roboto/Roboto-light.ttf");
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "roboto" !important;
}

body{
    background-color: #060606;
}

header{
    background-color: #131313;
    text-align: center;
    height: 80px;
    position: fixed;
    width: 100%;
    z-index: 2;
}

header h3{
    font-size: 16px !important;
}

.h-inline-block{
    display: inline-block;
    line-height: 80px;
    font-size: 32px;
    color: whitesmoke;

}

.text{
    color: whitesmoke;
    height: 500px;
    display: flex;
    text-align: center;
    margin-bottom: 50px;
    width: 80%;
    margin: auto;
    margin-bottom: 350px;
}

.text p{
    padding-top: 250px;
    font-size: 32px;
    text-align: center;
    font-size: 42px;
}

.contents{
    position: relative;
    background-color: #131313;
    width: 1000px;
    border-radius: 15px;
    margin: 75px auto;
    text-align: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: top;
    color: whitesmoke;
    flex-wrap: wrap;
    box-shadow: 0 0 15px 1px gray;
}

.profile img{
    border-radius: 50%;
    position: absolute;
    width: 300px;
    top: 100px;
    border: 5px solid yellow;
    left: -100px;    
    margin-right: auto;
    box-shadow: 0 0 15px 1px gray;
}

.stack{
    width: 700px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    margin-bottom: 25px;
    box-shadow: inset 0 0 5px 1px gray;
}


.stack h3{
    margin: 15px;
    font-size: 32px;
    text-shadow: 0 0 15px grey;
}

.stack h3 img{
    width: 25px;
}

.feature{
    width: 700px;
    margin-bottom: 25px;
    margin-left: 200px;   
    margin-top: 25px;
    border-radius: 15px;
    /* box-shadow: inset 0 0 5px 1px gray; */
    padding: 25px;
}

.feature p{
    text-align: justify;
    margin: 15px 0;
    line-height: 25px;
    font-size: 18px;
}

.feature h3{
    font-size: 32px;
}

footer{
    margin: 25px 0;
    background-color: #131313;
    height: 75x;
    text-align: center;
    padding: 25px;  
}

.socials{
    color: whitesmoke;
    margin: auto;
    height: 100%;   
    font-size: 24px;
    position: relative;
}

.socials span{
    margin: 0 25px;
}

.socials a{
    color: inherit;
    text-decoration: none;
}

.skills{
    color: whitesmoke;
    width: 100%;
    padding: 100px;
}

.skills h2{
    font-size: 32px;
    text-align: center;
}

.skill{
    margin: 32px 0;
}

.skills .back{
    width: 100%;
    margin: 5px 0;
    background-color: whitesmoke;
    height: 15px;
    border-radius: 10px;
}

.skills .back .in{
    background-color: blue;
    height: 100%;
    border-radius: 10px;
    animation: skill 2s 10s infinite linear;
}

.bracket {
    color: red;
}


model-viewer {
    position: absolute;
    width: 125px;
    height: 125px;
}

model-viewer.code_tag {
    left: 125px !important;
    width: 125px;
    height: 125px;
}

model-viewer.python {
    right: 15px;
    bottom: 25px;
}



@media only screen and (max-width: 1200px) {
    .contents{
        width: 750px;
        margin: 75px auto;
        right: -50px;
    }
    
    .profile img{
        width: 250px;
        top: 100px;
        left: -125px;
    }
    
    .stack{
        padding: 50px 0;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 15px;
        margin-bottom: 25px;
        margin-left: 200px;
    }
    
    .stack h3{
        margin: 15px;
        font-size: 24px;
        text-shadow: 0 0 15px grey;
    }
    
    .stack h3 img{
        width: 20px;
    }

    .stack, .feature{
        width: 500px;
    }
    
    .feature{
        margin-bottom: 20px;
        margin-left: 200px;   
        margin-top: 15px;
        padding: 20px;
        height: 250px;
    }
    
    .feature h3{
        font-size: 30px;
    }

    model-viewer.code_tag {
        left: 0px !important;
        top: 0 !important;
        scale: 0.8;
    }

    model-viewer.python {
        left: 50px;
        bottom: 25px;
    }
}


@media only screen and (max-width: 950px) {
    .contents{
        width: 650px;
        height: 450px;
        margin: 75px auto;
        right: -45px;
    }
    
    .profile img{
        width: 200px;
        top: 100px;
        left: -100px;
    }
    
    .stack{
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 15px !important;
        margin-bottom: 25px;
        box-shadow: inset 0 0 5px 1px gray;
        width: 300px !important;
        height: 150px;
    }
    
    
    .stack h3{
        margin: 15px;
        font-size: 16px;
        text-shadow: 0 0 15px grey;
    }
    
    .stack h3 img{
        width: 20px;
    }
    
    .stack, .feature{
        width: 450px;
        margin-left: 125px;
    }
    
    .feature{
        margin-bottom: 20px;
        margin-top: 15px;
        padding: 20px;
        height: 225px;
    }

    .feature p{
        font-size: 16px;
    }
    
    .feature h3{
        font-size: 24px;
    }

    model-viewer.code_tag, model-viewer.python {
        scale: 0.8;
    }
}


@media only screen and (max-width: 750px) {
    .text{
        width: 90%;
    }
    .contents{
        width: 90%;
        height: auto !important;
        position: relative;
        box-shadow: 0 0 ;
        left: 0;
        border-radius: 0;
    }
    
    .profile img{
        width: 150px;
        top: -75px;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
    }
    
    .stack{
        width: 100% !important;
        height: 125px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 0 !important;
        border-top: 2px solid gray;
        box-shadow: inset 0 0 5px 1px gray;
    }
    
    
    .stack h3{
        margin: 15px;
        font-size: 18px;
        text-shadow: 0 0 15px grey;
    }
    
    .stack h3 img{
        width: 20px;
    }
    
    .stack, .feature{
        box-shadow: 0 0 ;
        width: 100%;
        margin: auto;
    }
    
    .feature{
        margin-top: 75px;
        padding: 20px;
    }

    .feature p{
        font-size: 16px;
    }
    
    .feature h3{
        font-size: 24px;
    }

    footer a{
        font-size: 16px !important;
    }

    .socials span{
        margin: 0 5px;
    }

    .skills{
        padding: 15px;
    }

    model-viewer.python {
        left: initial;
        top: 0 !important;
    }
    
}



@media only screen and (max-width: 500px) {
    .contents{
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 125px;
        padding: 25px;
    }

    model-viewer {
        scale: 0.5 !important;
    }

}







/* ---------- PARTICLE JS ---------- */
#particles-js{
  width: 100%;
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  /* pointer-events: none; */
}

.count-particles{
  background: #000022;
  position: absolute;
  top: 48px;
  left: 0;
  width: 80px;
  color: #13E8E9;
  font-size: .8em;
  text-align: left;
  text-indent: 4px;
  line-height: 14px;
  padding-bottom: 2px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
}

.js-count-particles{
  font-size: 1.1em;
}

#stats,
.count-particles{
  -webkit-user-select: none;
  margin-top: 5px;
  margin-left: 5px;
}

#stats{
  border-radius: 3px 3px 0 0;
  overflow: hidden;
}

.count-particles{
  border-radius: 0 0 3px 3px;
}

/* ---------- END PARTICLE JS ---------- */