*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    z-index: 0;
}


@font-face {
    font-family: "custom";
    src: url("../fonts/Roboto/Roboto-light.ttf");
}

body{
    font-family: "custom";
    background-color: #060606;
}

header{
    background-color: #131313;
    text-align: center;
    height: 80px;
    position: fixed;
    width: 100%;
    z-index: 2;
}

header h3{
    font-size: 16px !important;
}

.h-inline-block{
    display: inline-block;
    line-height: 80px;
    font-size: 32px;
    color: whitesmoke;

}

.text{
    color: whitesmoke;
    /* background-color: red; */
    height: 700px;
    /* display: flex; */
    text-align: center;
    margin-bottom: 50px;
    width: 80%;
    margin: auto;
}

.text p{
    padding-top: 300px;
    font-size: 32px;
    text-align: center;
    font-size: 42px;
    /* animation: text 10s infinite steps(71); */
}

/* @keyframes text{
    0%{
        width: 0;
    }
    100%{
        width: 100%;
    }
} */

.contents{
    background-color: #131313;
    width: 1000px;
    height: 500px;
    border-radius: 15px;
    margin: 75px auto;
    text-align: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: top;
    color: whitesmoke;
    flex-wrap: wrap;
    box-shadow: 0 0 15px 1px gray;
}

.profile img{
    border-radius: 50%;
    position: absolute;
    width: 300px;
    top: 100px;
    border: 5px solid yellow;
    left: -100px;
    
    /* right: 0; */
    /* margin-left: auto; */
    margin-right: auto;
    box-shadow: 0 0 15px 1px gray;
}

.stack{
    /* background-color: #060606; */
    width: 700px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    margin-bottom: 25px;
    margin-left: 200px;
    box-shadow: inset 0 0 5px 1px gray;
}


.stack h3{
    margin: 15px;
    font-size: 32px;
    text-shadow: 0 0 15px grey;
}

.stack h3 img{
    width: 25px;
}

.feature{
    width: 700px;
    /* background-color: #060606; */
    margin-bottom: 25px;
    margin-left: 200px;   
    margin-top: 25px;
    border-radius: 15px;
    /* box-shadow: inset 0 0 5px 1px gray; */
    padding: 25px;
}

.feature p{
    text-align: justify;
    margin: 15px 0;
    line-height: 25px;
    font-size: 18px;
}

.feature h3{
    font-size: 32px;
}

footer{
    margin: 25px 0;
    position: relative;
    background-color: #131313;
    height: 75x;
    text-align: center;
    padding: 25px;  
}

.socials{
    color: whitesmoke;
    margin: auto;
    height: 100%;   
    font-size: 24px;
}

.socials span{
    margin: 0 25px;
}

.socials a{
    color: inherit;
    text-decoration: none;
}

.skills{
    color: whitesmoke;
    width: 100%;
    padding: 100px;
}

.skills h2{
    font-size: 45px;
    text-align: center;
}

.skill{
    margin: 32px 0;
}

.skills .back{
    width: 100%;
    margin: 5px 0;
    background-color: whitesmoke;
    height: 15px;
    border-radius: 10px;
}

.skills .back .in{
    background-color: blue;
    height: 100%;
    border-radius: 10px;
    animation: skill 2s 10s infinite linear;
}



@media only screen and (max-width: 1200px) {
    .contents{
        width: 750px;
        height: 450px;
        margin: 75px auto;
        right: -50px;
    }
    
    .profile img{
        width: 250px;
        top: 100px;
        left: -125px;
    }
    
    .stack{
        height: 150px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 15px;
        margin-bottom: 25px;
        margin-left: 200px;
        box-shadow: inset 0 0 5px 1px gray;
    }
    
    
    .stack h3{
        margin: 15px;
        font-size: 24px;
        text-shadow: 0 0 15px grey;
    }
    
    .stack h3 img{
        width: 20px;
    }

    .stack, .feature{
        width: 500px;
    }
    
    .feature{
        margin-bottom: 20px;
        margin-left: 200px;   
        margin-top: 15px;
        padding: 20px;
        height: 250px;
    }
    
    .feature h3{
        font-size: 30px;
    }
}


@media only screen and (max-width: 950px) {
    .contents{
        width: 650px;
        height: 400px;
        margin: 75px auto;
        right: -45px;
    }
    
    .profile img{
        width: 200px;
        top: 100px;
        left: -100px;
    }
    
    .stack{
        height: 125px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 15px;
        margin-bottom: 25px;
        box-shadow: inset 0 0 5px 1px gray;
    }
    
    
    .stack h3{
        margin: 15px;
        font-size: 18px;
        text-shadow: 0 0 15px grey;
    }
    
    .stack h3 img{
        width: 20px;
    }
    
    .stack, .feature{
        width: 450px;
        margin-left: 125px;
    }
    
    .feature{
        margin-bottom: 20px;
        margin-top: 15px;
        padding: 20px;
        height: 225px;
    }

    .feature p{
        font-size: 16px;
    }
    
    .feature h3{
        font-size: 24px;
    }
}


@media only screen and (max-width: 450px) {
    .text{
        width: 90%;
    }
    .contents{
        width: 100%;
        height: 500px;
        position: relative;
        box-shadow: 0 0 ;
        left: 0;
        border-radius: 0;
    }
    
    .profile img{
        width: 150px;
        top: -75px;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
    }
    
    .stack{
        height: 125px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 0;
        border-top: 2px solid gray;
        box-shadow: inset 0 0 5px 1px gray;
    }
    
    
    .stack h3{
        margin: 15px;
        font-size: 18px;
        text-shadow: 0 0 15px grey;
    }
    
    .stack h3 img{
        width: 20px;
    }
    
    .stack, .feature{
        box-shadow: 0 0 ;
        width: 100%;
        margin: auto;
        /* width: 450px; */
        /* margin-left: 125px; */
    }
    
    .feature{
        /* margin-bottom: 20px; */
        margin-top: 75px;
        padding: 20px;
        /* height: 225px; */
    }

    .feature p{
        font-size: 16px;
    }
    
    .feature h3{
        font-size: 24px;
    }

    footer a{
        font-size: 16px !important;
    }

    .socials span{
        margin: 0 5px;
    }

    .skills{
        padding: 15px;
    }
    
}
